/* copied from bootstrap3 theme and modfied. */

body {
    margin-top: 60px;
    background: #f9f9f9;
}

ul {
    padding-left: 1.5em;
}

.container {
    max-width: 750px;
}

#container {
    width: 960px;
    margin: 0 auto;
}

#contentcolumn {
    max-width: 760px;
}
#q {
    width: 150px;
}

/*
img {
    max-width: 90%;
}
*/

.postbox {
/*    border-bottom: 2px solid darkgrey; */
    margin-bottom: 12px;
}

.titlebox {
    text-align: right;
}

#addthisbox {margin-bottom: 0px;}

td.label {
    /* Issue #290 */
    background-color: inherit;
}

.footnote-reference {
    /* Issue 290 */
    vertical-align: super;
    font-size: xx-small;
}


.caption {
    /* Issue 292 */
    text-align: center;
    padding-top: 1em;
}

div.figure > img,
div.figure > a > img {
    /* Issue 292 */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.sidebar, div.admonition, div.attention, div.caution, div.danger, div.error, div.hint, div.important, div.note, div.tip, div.warning {
    /* Issue 277 */
    border: 1px solid #aaa;
    border-radius: 5px;
}

blockquote p, blockquote {
  font-size: 17.5px;
  font-weight: 300;
  line-height: 1.25;
}

ul.bricks > li {
    display: inline;
    background-color: lightblue;
    padding: 8px;
    border-radius: 5px;
    line-height: 3;
    white-space:nowrap;
    margin: 3px;
}

.at300b {
    box-sizing: content-box;
}


pre, pre code {
  padding: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  overflow: auto;
  word-wrap: normal;
  white-space: pre;
}

tt {
  padding: 3px;
  margin: 0 3px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
}

pre, pre.code, tt {
  color: #222;
  background-color: #fff;
  /*font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;*/
  /*font-size: 14px;*/
  border: 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

pre.literal-block, pre.code {
  margin: 1em 0em;
}

article.post-micro {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}

/* fix anchors for headers */
h1, h2, h3 {
    margin-top: -60px;
    padding-top: 60px;
}

h4, h5, h6 {
    margin-top: -50px;
    padding-top: 60px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-right:last-child {
      margin-right: 0px;
  }
}

/* In posts, reduce space between title and <hr> */
hr {
    margin-top: 11px;
    margin-bottom: 11px;
}
.postbox h1 {
    margin-bottom: -17px;
}

/* In post titles, make entire timestamp stay together */
time.published {
    white-space: pre;
}

/* bootstrap tables are crappy for some reason. */
table {
    font-size: inherit;
}
td, th {
    padding: 5px;
    vertical-align: top;
}

footer {
    text-align: center;
}

/* social icons on index page */
.profile {
    padding-left: 0px;
    padding-bottom: 50px;  /* hack to stop text from wrapping weirdly */
    float: left;
    width: inherit;
}
.profile ul {
    margin-top: 15px;
    font-size: 21px;
    padding-left: 0px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    list-style-type: none;
}
.profile ul img {
    width: 24px;
    height: 24px;
    vertical-align: sub;
}

hr.docutils {
    width: 100%
}